@model IEnumerable<Race>

@{
    ViewBag.Title = "Race";
}

<link rel="stylesheet" href="~/css/race.css" />

<div class="race-container">
    <h1>Race</h1>

    <div class="card-container">
        @foreach (Race item in @Model)
        {
            <div class="card">
                <img class="image" src="@item.Image" />

                <div class="card-details">
                    <h3>@item.Title</h3>
                    <h5>@item.RaceCategory</h5>
                    <h6>@item.Description</h6>
                </div>
            </div>
        }
    </div>
</div>